{% extends 'users_temp/base.html' %}

{% load static %}

{% block title %}Razopy-EditToken{% endblock %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <section class="py-5" style="background: #191c24; width: 90%; margin-left: 5%; margin-top: 5%;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="img-fluid card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." / style="width: 500px; height: 500px; border-radius: 20px"></div>
                    <div class="col-md-6">
                        <form method="POST" action="{% url 'edit_token' product.id%}">
                            {% csrf_token %}
                            <div class="small mb-1">Token id: {{ product.id }}</div>
                            <h1 class="display-5 fw-bolder">{{ form.name }}</h1>
                            <div class="small mb-4">{{ form.brand }}</div>
                            <div class="fs-5 mb-5">
                                <span style="font-size: 22px; font-weight: 500;">{{ form.price }}</span>
                            </div>
                            <div class="small mb-3">Category: {{ form.category }}</div>
                            <p class="lead">{{ form.description}}</p>
                            <div class="d-flex justify-content-between mt-5 mb-1">
                                <p>Owner: {{ product.owner.username }}</p>
                                <p>Author: {{ product.owner.username }}</p>
                            </div>
                            <p class="mb-3">created on: </p>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary large">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</div>

{% endblock %}