{% extends 'users_temp/base.html' %}

{% load static %}

{% block title %}
Razopy-items
{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        {% for message in messages %}

        <div class="alert alert-success" style="text-align: center; width: 41%; margin-left: 32%;">
          Token is successfully added into <a href="{% url 'cart' %}" class="alert-link">Cart</a>. Go and check it out.
        </div>

        {% endfor %}
        <div class="col-xl-6 col-sm-12 grid-margin stretch-card mt-5">
          <div class="card" style="border-radius: 40px;">
            <div class="container col-xl-12 col-sm-12" style="position: absolute; width: 100%; margin-top: 2rem; font-size: 1.7vw;">
              <h2 class="font-weight-bold">Create Your Own Token</h2>
              <p>Digital marketplace for digital art collections</p>
              <a href="#explore" class="btn btn-danger btn-lg" style="margin-right: 1rem; font-weight: bold">Explore</a>
              <a href="{% url 'create' %}"><button type="button" class="btn btn-primary btn-lg" style="font-weight: bold">Create</button></a>
            </div>
            <img src="{% static 'img/item-img1.avif' %}" style="border-radius: 40px">
          </div>
        </div>
        <div class="col-xl-6 col-sm-12 grid-margin stretch-card mt-5">
          <div class="card" style="border-radius: 40px;  background: #3b3c51;">
              <div class="container col-xl-12 col-sm-12" style="position: absolute; width: 100%; margin-top: 2rem; font-size: 1.7vw; text-align: end;">
                <h2 class="font-weight-bold">Assets and Income?</h2>
                <p>Explore through your digital wallet</p>
                <a href="#explore" class="btn btn-danger btn-lg" style="margin-right: 1rem; font-weight: bold">Explore</a>
                <a href="{% url 'wallet' %}"><button type="button" class="btn btn-primary btn-lg" style="font-weight: bold">Wallet</button></a>
              </div>
              <img src="{% static 'img/item-img2.jpg' %}" style="border-radius: 40px; width:45%; ">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center">
                <div class="col-4 col-sm-3 col-xl-2">
                  <img src="static/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                </div>
                <div class="col-5 col-sm-7 col-xl-8 p-0 text-center mt-5">
                  <h1 class="mb-1 mb-sm-0" id="explore">Explore in token market</h4>
                  <p class="mb-0 font-weight-normal d-none d-sm-block">collections will be unique so, crab your token</p>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row mt-5" style="width: 88%; margin-left: 6%;">

            {% for token in tokens %}
              {% if token.category.is_active %}
                <div class="col-sm-6 col-md-4 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'single_item' token.id %}"><img src="{{ token.image.url }}" style="width: 100%; height: 394.2px; transition: transform 0.3s ease-in-out;" 
                              onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                            </a>
                            <h3 class="mt-3">{{token.name}}</h3>
                            <div class="row">
                                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                                        <h4 class="mb-0">₹{{token.price|floatformat:2}}</h4>
                                        <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p>
                                    </div>
                                <h6 class="text-muted font-weight-normal mt-1">Brand: {{token.brand}}</h6>
                                </div>
                                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right" style="font-size: 26px;">
                                  {% if token.id in liked_tokens %}
                                      <a href="{% url 'dislike' token.id %}"><i class="mdi mdi-heart text-danger"></i></a>
                                  {% else %}
                                      <a href="{% url 'like' token.id %}"><i class="mdi mdi-heart-outline text-danger"></i></a>
                                  {% endif %}
                              
                                  {% if token.owner.username == user.username %}
                                  {% else %}
                                      <a href="{% url 'addtocart' token.id %}"><i class="mdi mdi-cart-outline text-success"></i></a>
                                  {% endif %}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% endif %}  
            {% endfor %}
        
      </div>


      <script>
        var mylink=document.getElementById("items")
        mylink.classList.add("active")
      </script>
{% endblock %}